.m-cart {
  .c-detail{
    ul {
      li{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ddd;
        box-sizing: border-box; 
        text-align: center;
        input[type="checkbox"] {
          height: 18px;
          width: 18px;
          vertical-align:middle;
          margin-top:-2px; 
          margin-bottom:1px;
        }
        &:nth-child(1){
          background-color: #f5f5f5;
          margin: 20px 0;
          padding: 12px 20px 12px 20px;
          
        }
        .w1{
          width: 70px;
          text-align:left;
         }
         .w2{
           flex:1;
         }
         .w3{
           width: 70px;
         }
         .w4{
           width:300px;
         }
         .w5{
           width:70px;
         }
         .w6{width:70px}
        &:nth-child(n+2){
          padding: 20px 20px 20px 20px;
          margin-top: 5px;
          background-color: #FFFBF0;
          .w2{
            display: flex;
            .pic{
              width:100px;
              height:100px;
              border: 1px solid #ccc;
              background-color: #f4f4f4;
              margin: 0 15px 0 0;
              img{
                width:100%;
                height:100%;
              }
            }
            .nameCon{
              text-align: left;
              .promotionBar{
                span{
                  &:nth-child(1){
                    border: 1px solid #D46F4D;
                    padding: 0 2px;
                    border-radius: 2px;
                    font-family: PingFangSC-Regular;
                    font-size: 12px;
                    color: #D46F4D;
                    letter-spacing: 0;
                    line-height: 14px;
                  }
                  &:nth-child(2){
                    margin: 0 4px;
                    color: #999;
                    font-size: 12px;
                  }
                  &:nth-child(3){
                    font-size: 12px;
                    color: #333;
                  }
                }
              }
              a{
                font-size: 14px;
                display: block;
                max-width: 248px;
                color: #333;
                margin:10px 0;
                &:hover{
                  color:#CC9756;
                }
                
              }
              span{
                color: #999;
                line-height: 16px;
                text-align: left;
                font-size: 12px;
                cursor: pointer;
              }
            }
          }
          .w4{
            display: flex;
            justify-content:center;
            input{
              width: 58px;
              height: 24px;
              line-height: 28px;
              background: #fff;
              outline:none;
              text-align: center;
              border-left: none;
              border-right: none;
            }
            span{
              display: inline-block;
              width: 24px;
              height: 24px;
              line-height: 22px;
              border: 1px solid #ccc;
              text-align: center;
              cursor: pointer;
            }
          }
          .w5{
            .price{
              color: #d4282d;
            }
          }
          .w6{
            a{
              color: #333;
              &:hover{
                 color:#CC9756;
              }
            }
          }
        }
        
      }
      
    }
    
  }
  .cart-total{
    margin-top: 5px;
    ul{
      li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ddd;
        box-sizing: border-box; 
        text-align: center;
        font-size: 14px;
        background-color: #f5f5f5;
        height: 70px;
        padding: 20px 0px 20px 20px;
        .w1{
          display: flex;
          // justify-content: flex-start;
          input[type="checkbox"]{
            height: 18px;
            width: 18px;
            vertical-align:middle; 
            margin-top:-2px; 
            margin-bottom:1px;
          }
          .box2{
            a{
              color: #333;
              margin-left: 30px;
              &:hover{
                color:#CC9756;
              }
            }
          }
        }
        .w2{
          display: flex;
          align-items:center;
          
          .info{
            width:200px;
            color: #999;
            font-size: 14px;
            
            p{
              display: flex;
              justify-content: space-between;
              padding:3px 20px;
              border-right: 1px solid #ccc;
              
            }
          }
          .submit{
            width: 140px;
            height: 70px;
            font-size: 18px;
            line-height: 70px;
            color: #fff;
            border: 1px solid #b4a078;
            background-color: #b4a078;
            box-sizing: border-box;
          }
          .total{
            width: 170px;
            display: flex;
            flex-direction:column;
            padding:0 30px;
            p{
              display: flex;
              justify-content: space-between;
              font-size: 22px;
              font-weight: 700;
              color: #BE4141;
              
              span{
                &:nth-of-type(1){
                  font-size: 14px;
                  color: #333;
                  font-weight: normal;
                }
              }
            }
            a{
                font-size: 14px;
                color: #d3282d;;
                &:hover{
                  color:#CC9756;
                  text-decoration: underline;
                }
            }
          }
        }
      }
    }
  }
}