@charset "UTF-8";
.dropMeun {
  position: relative;
}

.dropMeun ul {
  position: absolute;
  display: none;
  border: 1px solid #ddd;
  min-width: 83px;
  z-index: 999;
}

.dropMeun ul li {
  text-align: center;
  background-color: #fff;
}

.dropMeun ul li a {
  border: none !important;
}

.dropMeun ul li a:hover {
  color: #CC9756 !important;
}

.dropMeun:hover ul {
  display: block;
}

body, h1, h2, h3, h4, h5, h6, p, dl, dd {
  margin: 0;
}

body {
  font-size: 14px;
  color: #333;
  font-family: "Microsoft Yahei","微软雅黑",verdana;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  border: none;
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  color: #b4a078;
}

input {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 1px solid #ccc;
}

label {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 0;
}

i {
  font-style: normal;
}

.center {
  width: 1090px;
  margin: auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.fs-14 {
  color: #333;
  font-size: 14px;
}

.clearfix::after {
  content: ' ';
  display: block;
  clear: both;
}

.current {
  border-bottom: 3px solid #CC9756;
  color: #CC9756 !important;
}

button {
  border: none;
}

@font-face {
  font-family: "iconfont";
  /* Project id  */
  src: url("../font/iconfont.ttf?t=1629353855059") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xia:before {
  content: "\e61b";
}

.icon-shouji:before {
  content: "\e612";
}

.icon-you:before {
  content: "\e621";
}

/*----------头部 公共样式 start----------*/
#header {
  height: 176px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #e8e8e8;
}

#header .header {
  height: 36px;
  line-height: 36px;
  background-color: #333;
}

#header .header .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .header .center .left {
  background: url(../images/laba.gif) center left no-repeat;
}

#header .header .center .left a {
  margin-left: 28px;
  color: #CC9756;
  font-size: 12px;
  text-decoration: underline;
}

#header .header .center .left a:hover {
  color: #fff;
  text-decoration: none;
}

#header .header .center .right > ul {
  display: flex;
  flex-direction: row;
}

#header .header .center .right > ul li:last-child a {
  border-right: none;
}

#header .header .center .right > ul a {
  font-size: 12px;
  height: 36px;
  cursor: pointer;
  color: #ccc;
  padding: 0 14px;
  border-right: 1px solid #ccc;
}

#header .header .center .right > ul a:hover {
  color: #fff;
}

#header .search {
  display: flex;
  height: 110px;
}

#header .search .center {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#header .search .center .logo a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width: 252px;
  padding-top: 51px;
  height: 0;
  background: url(../images/yanxuan_sprites.png) 0 -303px no-repeat;
}

#header .search .center .search-btn {
  display: flex;
  flex-direction: column;
  position: relative;
}

#header .search .center .search-btn .search-ret {
  position: absolute;
  top: 38px;
  left: 40px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-top: none;
  font-size: 14px;
  outline: 0;
  width: 400px;
  z-index: 99;
}

#header .search .center .search-btn .search-ret li {
  height: 30px;
  line-height: 30px;
  text-indent: 5px;
}

#header .search .center .search-btn .top {
  position: relative;
  display: flex;
}

#header .search .center .search-btn .top input {
  width: 442px;
  height: 38px;
  border: 1px solid #CC9756;
  border-bottom-left-radius: 19px;
  border-top-left-radius: 19px;
  font-size: 14px;
  padding-left: 38px;
  outline: 0;
  overflow: hidden;
  box-sizing: border-box;
}

#header .search .center .search-btn .top span {
  display: block;
  width: 90px;
  height: 38px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  background-color: #CC9756;
  color: #fff;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}

#header .search .center .search-btn .top span:hover {
  background-color: #E2C199;
}

#header .search .center .search-btn .top i {
  position: absolute;
  left: 18px;
  top: 12px;
  width: 15px;
  height: 15px;
  background: url(../images/yanxuan_sprites.png) 0 -518px no-repeat;
}

#header .search .center .bottom a {
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
  color: #CC9756;
}

#header .search .center .cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 134px;
  height: 38px;
  border: 1px solid #CC9756;
  border-radius: 19px;
  box-sizing: border-box;
  padding: 0 10px;
}

#header .search .center .cart .gwc {
  display: block;
  height: 18px;
  width: 18px;
  background: url(../images/yanxuan_sprites.png) 0px -147px no-repeat;
}

#header .search .center .cart .text {
  color: #CC9756;
}

#header .search .center .cart .circle {
  display: block;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  background: url(../images/yanxuan_sprites.png) 0 -50px;
}

#header .search .center .cart:hover {
  background-color: #F5F3EF;
}

#header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 9;
}

#header .nav li a {
  font-weight: bold;
  color: #000;
  padding-bottom: 8px;
}

#header .nav li a:hover {
  color: #CC9756;
  border-bottom: 3px solid #CC9756;
}

/*----------头部 公共样式  end----------*/
/*----------底部 公共样式  start----------*/
footer {
  margin-top: 50px;
  border-top: 1px solid #ccc;
  text-align: center;
}

footer .yx-cp-m-ft1 {
  display: flex;
  justify-content: space-between;
}

footer .yx-cp-m-ft1 .yx-cp-item {
  width: 360px;
  margin: 50px 0;
}

footer .yx-cp-m-ft1 .yx-cp-item h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 28px;
}

footer .yx-cp-m-ft1 .yx-cp-item:nth-of-type(1) {
  border-right: 1px solid #ccc;
}

footer .yx-cp-m-ft1 .yx-cp-item:nth-of-type(1) .btn a {
  display: inline-block;
  width: 80px;
  height: 96px;
  border: 1px solid #ccc;
  margin-left: 20px;
}

footer .yx-cp-m-ft1 .yx-cp-item:nth-of-type(1) .btn a i {
  display: block;
  margin: 20px auto;
  height: 26px;
  width: 31px;
}

footer .yx-cp-m-ft1 .yx-cp-item:nth-of-type(1) .btn a:first-child i {
  background-image: url(../images/yanxuan_sprites3.jpg);
  background-position: 0 -290px;
}

footer .yx-cp-m-ft1 .yx-cp-item:nth-of-type(1) .btn a:last-child i {
  background-image: url(../images/yanxuan_sprites3.jpg);
  background-position: 0 -97px;
}

footer .yx-cp-m-ft1 .yx-cp-item:nth-of-type(2) {
  border-right: 1px solid #ccc;
}

footer .yx-cp-m-ft1 .yx-cp-item:nth-of-type(2) p {
  text-align: left;
  padding: 0 37px;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 22px;
}

footer .yx-cp-m-ft1 .yx-cp-item:nth-of-type(2) .ewm {
  padding: 0 37px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer .yx-cp-m-ft1 .yx-cp-item:nth-of-type(2) .ewm i {
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-left: 20px;
  background-image: url(../images/yanxuan_sprites3.jpg);
}

footer .yx-cp-m-ft1 .yx-cp-item:nth-of-type(2) .ewm i:nth-of-type(1) {
  background-position: 0 -326px;
}

footer .yx-cp-m-ft1 .yx-cp-item:nth-of-type(2) .ewm i:nth-of-type(2) {
  background-position: 0 -428px;
}

footer .yx-cp-m-ft1 .yx-cp-item:nth-of-type(2) .ewm i:nth-of-type(3) {
  background-position: 0 -470px;
}

footer .yx-cp-m-ft1 .yx-cp-item:nth-of-type(3) img {
  margin: 0 auto;
}

footer .yx-cp-m-ft1 .yx-cp-item:nth-of-type(3) p {
  color: #b4a078;
  font-size: 12px;
  margin-top: 3px;
}

/*----------底部 公共样式  end----------*/
