@charset "UTF-8";
html, body {
  height: 3000px;
}

.img_scale {
  transition: 1s ease-out;
}

.img_scale:hover {
  transform: scale(1.1);
}

/* 商品详情 */
.m-detail .m-crumb {
  line-height: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.m-detail .m-crumb span a {
  font-size: 14px;
  color: #333;
}

.m-detail .m-crumb span i {
  font-size: 12px;
}

.m-detail .detailHD {
  position: relative;
  height: 650px;
}

.m-detail .detailHD .m-slide #zoom .big {
  position: absolute;
  width: 430px;
  height: 430px;
  border: 1px solid #ccc;
  left: 460px;
  box-sizing: border-box;
  z-index: 999;
  overflow: hidden;
  display: none;
}

.m-detail .detailHD .m-slide #zoom .big img {
  position: absolute;
}

.m-detail .detailHD .m-slide #zoom .middle {
  position: absolute;
  width: 430px;
  height: 430px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
}

.m-detail .detailHD .m-slide #zoom .middle img {
  position: absolute;
}

.m-detail .detailHD .m-slide #zoom .middle .mask {
  position: absolute;
  width: 230px;
  height: 230px;
  opacity: 0.3;
  background-color: #f40;
  cursor: move;
  display: none;
}

.m-detail .detailHD .m-slide #zoom .small {
  position: absolute;
  width: 430px;
  height: 100px;
  border: 1px solid pink;
  top: 460px;
  box-sizing: border-box;
}

.m-detail .detailHD .m-slide #zoom .small ul {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.m-detail .detailHD .m-info {
  position: absolute;
  left: 460px;
  width: 630px;
}

.m-detail .detailHD .m-info .intro .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
}

.m-detail .detailHD .m-info .intro .text span {
  font-size: 16px;
  line-height: 20px;
}

.m-detail .detailHD .m-info .intro .text a i {
  font-size: 12px;
}

.m-detail .detailHD .m-info .m-limitedPrice {
  display: flex;
  justify-content: space-between;
  width: 630px;
  padding: 0 12px;
  box-sizing: border-box;
  background-color: #F38245;
  margin-top: 20px;
}

.m-detail .detailHD .m-info .m-limitedPrice span {
  color: #fff;
  height: 40px;
  line-height: 40px;
}

.m-detail .detailHD .m-info .m-limitedPrice span:nth-child(1) {
  font-size: 18px;
}

.m-detail .detailHD .m-info .m-limitedPrice span:nth-child(2) {
  font-size: 14px;
}

.m-detail .detailHD .m-info .price {
  background-color: #F5F3EF;
  padding: 0 12px;
}

.m-detail .detailHD .m-info .price .flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}

.m-detail .detailHD .m-info .price .fz {
  font-size: 14px;
  color: #666;
  width: 50px;
  margin-right: 10px;
}

.m-detail .detailHD .m-info .price .title span:nth-child(2) {
  font-size: 28px;
  line-height: 30px;
  margin-right: 10px;
  color: #d7282d;
}

.m-detail .detailHD .m-info .price .title span:nth-child(3) {
  font-size: 13px;
  color: #999;
  line-height: 24px;
  text-decoration: line-through;
}

.m-detail .detailHD .m-info .price .canClick span:nth-child(2) {
  width: 488px;
  height: 33px;
  background-color: #322E29;
  color: #fff;
  line-height: 33px;
}

.m-detail .detailHD .m-info .price .sale span:nth-child(2) {
  width: 60px;
  height: 20px;
  color: #fff;
  background-color: #FE5F47;
  text-align: center;
}

.m-detail .detailHD .m-info .price .m-feedbackBonus span:nth-child(2) {
  color: #666;
}

.m-detail .detailHD .m-info .price .pointInfo span:nth-child(2) {
  color: #666;
}

.m-detail .detailHD .m-info .price .freightText a {
  font-size: 14px;
  color: #666;
}

.m-detail .detailHD .m-info .price .delivery span:nth-child(2) {
  color: #666;
}

.m-detail .detailHD .m-info .price .policyBox a {
  font-size: 14px;
  color: #666;
}

.m-detail .detailHD .m-info .specProp {
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin: 10px 0;
}

.m-detail .detailHD .m-info .specProp .fz {
  font-size: 14px;
  color: #666;
  width: 50px;
  margin-right: 10px;
}

.m-detail .detailHD .m-info .specProp ul {
  display: flex;
}

.m-detail .detailHD .m-info .specProp ul li {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.m-detail .detailHD .m-info .count {
  display: flex;
  justify-content: flex-start;
  padding: 0 12px;
}

.m-detail .detailHD .m-info .count .fz {
  font-size: 14px;
  color: #666;
  width: 50px;
  margin-right: 10px;
}

.m-detail .detailHD .m-info .count .u-selnum {
  display: flex;
  justify-content: flex-start;
}

.m-detail .detailHD .m-info .count .u-selnum span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}

.m-detail .detailHD .m-info .count .u-selnum input {
  outline: none;
  text-align: center;
  width: 60px;
}

.m-detail .detailHD .m-info .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.m-detail .detailHD .m-info .btn a {
  text-align: center;
  cursor: pointer;
}

.m-detail .detailHD .m-info .btn a:nth-child(1) {
  width: 168px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #b4a078;
  border: 1px solid #b4a078;
  background-color: #f5f3ef;
}

.m-detail .detailHD .m-info .btn a:nth-child(2) {
  width: 168px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  border: 1px solid #b4a078;
  background-color: #b4a078;
}

.m-detail .detailHD .m-info .btn a:nth-child(3) {
  height: 49px;
  line-height: 49px;
  width: 50px;
  color: #333;
  border: 1px solid #ccc;
}

.m-detail .detailHD .m-info .btn a:nth-child(4) {
  width: 168px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #b4a078;
  border: 1px solid #b4a078;
  background-color: #f5f3ef;
}

/* 轮播图 */
.m-promContainer {
  margin-top: 30px;
  height: 397px;
  border: 1px solid #e8e8e8;
}

.m-promContainer .w-promHd {
  height: 44px;
  line-height: 44px;
  background-color: #f5f5f5;
}

.m-promContainer .w-promHd h3 {
  font-size: 17px;
  text-indent: 18px;
  font-weight: normal;
}

.m-promContainer .promList {
  position: relative;
}

.m-promContainer .promList ul {
  height: 353px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
}

.m-promContainer .promList ul li .hd {
  overflow: hidden;
}

.m-promContainer .promList ul li .hd img {
  margin: 0 auto;
}

.m-promContainer .promList ul li .bd {
  text-align: center;
}

.m-promContainer .promList ul li .bd .tags {
  text-align: center;
  width: 70px;
  height: 20px;
  line-height: 20px;
  background-color: #e36844;
  margin: 0 auto;
  color: #fff;
  font-size: 13px;
}

.m-promContainer .promList ul li .bd .name {
  width: 166px;
  margin: 10px auto 10px auto;
  max-height: 40px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m-promContainer .promList ul li .bd .price span {
  font-size: 13px;
  color: #d4282d;
  text-align: center;
}

.m-promContainer .promList ul li .bd .price a {
  display: inline-block;
  width: 40px;
  height: 30px;
  line-height: 30px;
  background-color: #d7282d;
  color: #fff;
  text-align: center;
}

.m-promContainer .promList .prev, .m-promContainer .promList .next {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 80;
  border-radius: 500px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #E2C199;
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 40px;
}

.m-promContainer .promList .prev {
  left: 20px;
}

.m-promContainer .promList .next {
  right: 20px;
}

/* 商品详情 */
.detailBd {
  margin-top: 30px;
}

.detailBd .center {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.detailBd .center .left {
  width: 750px;
}

.detailBd .center .left .detailNavTab ul {
  display: flex;
  background-color: #f5f5f5;
}

.detailBd .center .left .detailNavTab ul li {
  width: 170px;
  text-align: center;
  height: 42px;
  line-height: 40px;
  font-size: 14px;
}

.detailBd .center .left .tabContent {
  margin-top: 30px;
}

.detailBd .center .left .tabContent ul {
  text-align: left;
}

.detailBd .center .left .tabContent ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 1px dotted #ccc;
}

.detailBd .center .left .tabContent ul li span {
  flex: 1;
}

.detailBd .center .left .tabContent ul li span:nth-child(even) {
  color: #999;
}

.detailBd .center .right {
  position: absolute;
  right: 0;
  width: 300px;
  border: 1px solid #ccc;
}

.detailBd .center .right header {
  line-height: 41px;
  background-color: #f5f5f5;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

.detailBd .center .right .bd ul li .hd-img img {
  margin: 0 auto;
}

.detailBd .center .right .bd ul li .bd-content {
  text-align: center;
}

.detailBd .center .right .bd ul li .bd-content a {
  font-size: 14px;
  display: -webkit-box;
  max-height: 40px;
  line-height: 20px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
  text-align: center;
  width: 166px;
  margin: 0 auto;
  color: #333;
  margin-bottom: 5px;
}

.detailBd .center .right .bd ul li .bd-content a:hover {
  color: #E2C199;
}

.detailBd .center .right .bd ul li .bd-content .price {
  color: #d62525;
}
