@charset "UTF-8";
.h_title {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin-right: 20px;
}

.h_title:hover {
  color: #CC9756;
}

.logo_title {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  font-size: 12px;
  color: #a7936e;
  border: 1px solid #b3a07d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 4px;
  line-height: 18px;
  background-color: #f4f0ea;
}

.name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

/********** 轮播图区域 start **********/
.swiper-container {
  position: relative;
  height: 420px;
  overflow: hidden;
  background-color: #F5F5F5;
}

.swiper-container .swiper-wrapper {
  position: relative;
  height: 420px;
}

.swiper-container .swiper-wrapper a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-container .swiper-button .next, .swiper-container .swiper-button .prev {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 80;
  border-radius: 500px;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-container .swiper-button .next:hover, .swiper-container .swiper-button .prev:hover {
  background-color: #CC9756;
}

.swiper-container .swiper-button .prev {
  left: 154.5px;
  background: url("../images/yanxan_sprites1.png") 0 -5438px no-repeat;
  background-color: #E2C199;
}

.swiper-container .swiper-button .next {
  right: 154.5px;
  background: url("../images/yanxan_sprites1.png") 0 -5658px no-repeat;
  background-color: #E2C199;
}

.swiper-container .swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.swiper-container .swiper-pagination li button {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 500px;
  margin-right: 10px;
  cursor: pointer;
}

/********** 轮播图区域 end **********/
/********** 内容区域 m-newProducts start **********/
.m-newProducts {
  height: 510px;
  margin-top: 30px;
}

.m-newProducts .center .m-commonHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.m-newProducts .center .m-commonHeader .f-left {
  display: flex;
  align-items: flex-end;
}

.m-newProducts .center .slickWidth .box ul {
  display: flex;
  justify-content: space-between;
}

.m-newProducts .center .slickWidth .box ul li {
  width: 265px;
  height: 100%;
  cursor: pointer;
}

.m-newProducts .center .slickWidth .box ul li:hover {
  background-color: #F4F0EA;
}

.m-newProducts .center .slickWidth .box ul li:hover .hd img:nth-of-type(1) {
  display: none;
}

.m-newProducts .center .slickWidth .box ul li:hover .hd img:nth-of-type(2) {
  display: block;
}

.m-newProducts .center .slickWidth .box ul li .hd {
  width: 265px;
  height: 265px;
  background-color: #f4f4f4;
}

.m-newProducts .center .slickWidth .box ul li .hd img {
  width: 100%;
  height: 100%;
}

.m-newProducts .center .slickWidth .box ul li .hd img:nth-of-type(2) {
  display: none;
}

.m-newProducts .center .slickWidth .box ul li .bd {
  text-align: center;
}

.m-newProducts .center .slickWidth .box ul li .bd .prdtTags {
  text-align: center;
}

.m-newProducts .center .slickWidth .box ul li .bd .prdtTags span {
  display: inline-block;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  color: #fff !important;
  margin: 5px 0;
  padding: 0 5px;
  background-color: #e36844;
}

.m-newProducts .center .slickWidth .box ul li .bd .name {
  width: 166px;
  margin: 0 auto 4px;
  max-height: 40px;
  line-height: 20px;
  font-size: 13px;
}

.m-newProducts .center .slickWidth .box ul li .bd .price .price-new {
  color: #d4282d;
}

.m-newProducts .center .slickWidth .box ul li .bd .price .price-old {
  font-size: 12px;
  color: #999;
  text-decoration: line-through;
}

/********** 内容区域 m-newProducts end **********/
/********** 人气推荐 m-indexPopularItem  start **********/
.m-indexPopularItem {
  padding: 60px 0;
  background-color: #f4f0ea;
}

.m-indexPopularItem .m-commonHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.m-indexPopularItem .m-commonHeader .lh1 {
  display: flex;
}

.m-indexPopularItem .m-commonHeader .lh1 ul {
  display: flex;
  align-items: center;
}

.m-indexPopularItem .m-commonHeader .lh1 ul li {
  margin-right: 50px;
  padding: 0 5px;
}

.m-indexPopularItem .m-commonHeader .lh1 ul li:last-child {
  border-bottom: 2px solid #b4a078;
}

.m-indexPopularItem .showContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.m-indexPopularItem .showContainer .box1 {
  width: 390px;
  height: 570px;
  background-color: #f4f4f4;
}

.m-indexPopularItem .showContainer .box1 .popularItem .hd {
  position: relative;
  height: 400px;
  padding: 40px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.m-indexPopularItem .showContainer .box1 .popularItem .hd img {
  width: 320px;
  height: 320px;
  cursor: pointer;
  transition: 1s ease-out;
}

.m-indexPopularItem .showContainer .box1 .popularItem .hd img:hover {
  transform: scale(1.1);
}

.m-indexPopularItem .showContainer .box1 .popularItem .bd {
  text-align: center;
}

.m-indexPopularItem .showContainer .box1 .popularItem .bd h4 {
  padding-top: 40px;
  line-height: 26px;
  max-height: 52px;
  margin: 0 auto 13px;
  font-size: 18px;
  width: 248px;
  cursor: pointer;
}

.m-indexPopularItem .showContainer .box1 .popularItem .bd h4:hover {
  color: #b4a078;
}

.m-indexPopularItem .showContainer .box1 .popularItem .bd p {
  font-size: 18px;
  height: 18px;
  line-height: 1;
  color: #d4282d;
}

.m-indexPopularItem .showContainer .box2 {
  padding-left: 10px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.m-indexPopularItem .showContainer .box2 .popularItem {
  width: 223px;
  height: 280px;
  background-color: #f4f4f4;
}

/********** 人气推荐 m-indexPopularItem  end **********/
