@charset "UTF-8";
/********** 轮播图区域 start **********/
.swiper-container {
  position: relative;
  height: 420px;
  overflow: hidden;
  background-color: #F5F5F5;
}

.swiper-container .swiper-wrapper {
  position: relative;
  height: 420px;
}

.swiper-container .swiper-wrapper a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-container .swiper-button .next, .swiper-container .swiper-button .prev {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 80;
  border-radius: 500px;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-container .swiper-button .next:hover, .swiper-container .swiper-button .prev:hover {
  background-color: #CC9756;
}

.swiper-container .swiper-button .prev {
  left: 154.5px;
  background: url("../images/yanxan_sprites1.png") 0 -5438px no-repeat;
  background-color: #E2C199;
}

.swiper-container .swiper-button .next {
  right: 154.5px;
  background: url("../images/yanxan_sprites1.png") 0 -5658px no-repeat;
  background-color: #E2C199;
}

.swiper-container .swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.swiper-container .swiper-pagination li button {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 500px;
  margin-right: 10px;
  cursor: pointer;
}

/********** 轮播图区域 end **********/
/********** 内容区域 m-newProducts start **********/
.m-newProducts {
  height: 510px;
  margin-top: 30px;
}

.m-newProducts .center .m-commonHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.m-newProducts .center .m-commonHeader .f-left {
  display: flex;
  align-items: flex-end;
}

.m-newProducts .center .m-commonHeader .f-left h3 {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin-right: 20px;
}

.m-newProducts .center .m-commonHeader .f-left h3:hover {
  color: #CC9756;
}

.m-newProducts .center .slickWidth .box ul {
  display: flex;
  justify-content: space-between;
}

.m-newProducts .center .slickWidth .box ul li {
  width: 265px;
  height: 100%;
}

.m-newProducts .center .slickWidth .box ul li:hover {
  background-color: #F4F0EA;
}

.m-newProducts .center .slickWidth .box ul li .hd {
  width: 265px;
  height: 265px;
  background-color: #f4f4f4;
}

.m-newProducts .center .slickWidth .box ul li .hd img {
  width: 100%;
  height: 100%;
}

.m-newProducts .center .slickWidth .box ul li .bd {
  text-align: center;
}

.m-newProducts .center .slickWidth .box ul li .bd .prdtTags {
  text-align: center;
}

.m-newProducts .center .slickWidth .box ul li .bd .prdtTags span {
  display: inline-block;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  color: #fff !important;
  margin: 5px 0;
  padding: 0 5px;
  background-color: #e36844;
}

.m-newProducts .center .slickWidth .box ul li .bd .name {
  width: 166px;
  margin: 0 auto 4px;
  max-height: 40px;
  line-height: 20px;
  font-size: 13px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m-newProducts .center .slickWidth .box ul li .bd .price .price-new {
  color: #d4282d;
}

.m-newProducts .center .slickWidth .box ul li .bd .price .price-old {
  font-size: 12px;
  color: #999;
  text-decoration: line-through;
}

/********** 内容区域 m-newProducts end **********/
